## Ajuste por ecuaciones de condición para una Red de Nivelación
#### De la Rosa Peredo Carlos Raúl

In [2]:
import numpy as np
import pandas as pd

<img src='circ2.png' width="1000" height="1000">

### Matriz planteada y su solución

In [3]:
#B=np.array([[1,1,0,0,1,0,-1,0,1,-1,1,0],[0,1,1,1,1,0,0,-1,0,0,1,0],
#           [0,-1,-1,-1,0,1,1,1,0,-1,-1,0],[1,0,1,1,-1,0,-1,1,0,1,-1,1],[0,1,0,0,-1,-1,-1,-1,1,1,0,0],
#           [0,1,0,0,0,1,1,-1,0,1,-1,-1],[1,0,0,0,1,1,0,1,-1,0,0,-1]])

B=np.array([[1,1,1,1,1,1,0,0,0,0,0,0],[0,0,1,0,0,0,1,0,-1,0,0,0],
           [0,0,1,0,-1,-1,0,0,0,0,0,1],[-1,0,0,1,0,0,0,-1,0,1,0,0],[0,0,0,0,1,0,0,0,0,-1,1,0],
           [1,1,0,0,0,0,-1,0,0,1,0,-1],[0,0,0,-1,0,0,1,0,0,-1,0,0]])

#C=np.array([0,0,0,0,0,0,0])
C=np.array([0,60,60,-60,0,0,60])

L=np.array([10,20,30.04,-15,-20.03,-24.96,12.9,3.07,-16.95,-32,-11.93,-15.01])

W=C-np.dot(B,L)

sol=np.dot(np.dot(B.transpose(),np.linalg.inv(np.dot(B,B.transpose()))),W)

Laj=np.round(L+sol,3)
Laj

array([  9.957,  19.999,  30.044, -15.019, -20.039, -24.942,  12.985,
         3.028, -16.971, -31.996, -11.957, -15.025])

In [6]:
est=['BN1','V','P','R','M','T','BN2']
cot=np.array([100,100+res['Desnivel Ajustado'][0],160-res['Desnivel Ajustado'][2],100+res['Desnivel Ajustado'][6],
     100-res['Desnivel Ajustado'][5],160+res['Desnivel Ajustado'][3],160])
cot=np.round(cot,3)
cot

array([100.   , 109.957, 129.956, 112.985, 124.942, 144.981, 160.   ])

### Resultados

#### Desniveles

In [5]:
res=pd.DataFrame({"Circuito":np.arange(1,13),"Desnivel Medido":L,"Residuos":np.round(sol,3),"Desnivel Ajustado":Laj})
res

    Circuito  Desnivel Medido  Residuos  Desnivel Ajustado
0          1            10.00    -0.043              9.957
1          2            20.00    -0.001             19.999
2          3            30.04     0.004             30.044
3          4           -15.00    -0.019            -15.019
4          5           -20.03    -0.009            -20.039
5          6           -24.96     0.018            -24.942
6          7            12.90     0.085             12.985
7          8             3.07    -0.042              3.028
8          9           -16.95    -0.021            -16.971
9         10           -32.00     0.004            -31.996
10        11           -11.93    -0.027            -11.957
11        12           -15.01    -0.015            -15.025

#### Elevaciones

In [7]:
res2=pd.DataFrame({"Estacion":est,"Elevacion":cot})
res2

  Estacion  Elevacion
0      BN1    100.000
1        V    109.957
2        P    129.956
3        R    112.985
4        M    124.942
5        T    144.981
6      BN2    160.000